{% extends 'layout.html' %}

{% block title %}Container - {% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Resource Consumption</b>
                </div>
                <div class="card-body">
                    <div class="row col-md-12">
                        <div class="col-md-3" align="left">
                            <embed type="image/svg+xml" src="{{graph_data1|safe}}"
                                   style="max-width:300px; max-height:200px"/>
                        </div>
                        <div class="col-md-3" align="right">
                            <embed type="image/svg+xml" src="{{graph_data2|safe}}"
                                   style="max-width:300px; max-height:200px"/>
                        </div>
                        <div class="col-md-3" align="left">
                            <embed type="image/svg+xml" src="{{graph_data3|safe}}"
                                   style="max-width:300px; max-height:200px"/>
                        </div>
                        <div class="col-md-3" align="right">
                            <embed type="image/svg+xml" src="{{graph_data4|safe}}"
                                   style="max-width:300px; max-height:200px"/>
                        </div>

                    </div>
                    <!--<div class="row col-md-12">
                        <div class="col-md-6" align="left">
                            <embed type="image/svg+xml" src="{{graph_data3|safe}}"
                                   style="max-width:500px; max-height:200px"/>
                        </div>
                        <div class="col-md-6" align="right">
                            <embed type="image/svg+xml" src="{{graph_data4|safe}}"
                                   style="max-width:500px; max-height:200px"/>
                        </div>-->

                </div>
            </div>
        </div>
    </div>


    <form action="" method="post">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Actions
                    </div>
                    <div class="card-body">
                        <div class="well col-md-12 field is-grouped ">
                            <div class="control btn-group" style="margin-left:10px">
                                <button type="submit" name="my_btn" id="start" class="btn btn-success" value="start"
                                        disabled style="margin-left:10px">
                                    Start
                                </button>
                                <button type="submit" name="my_btn" id="stop" class="btn btn-danger" value="stop"
                                        disabled style="margin-left:10px">
                                    Stop
                                </button>
                                <button type="submit" name="my_btn" id="kill" class="btn btn-danger" value="kill"
                                        disabled style="margin-left:10px">
                                    Kill
                                </button>
                                <button type="submit" name="my_btn" id="restart" class="btn btn-primary" value="restart"
                                        disabled style="margin-left:10px">
                                    Restart
                                </button>
                                <button type="submit" name="my_btn" id="pause" class="btn btn-primary" value="pause"
                                        disabled style="margin-left:10px">
                                    Pause
                                </button>
                                <button type="submit" name="my_btn" id="resume" class="btn btn-primary" value="resume"
                                        disabled style="margin-left:10px">
                                    Resume
                                </button>
                                <button type="submit" name="my_btn" id="remove" class="btn btn-danger" value="remove"
                                        disabled style="margin-left:10px">
                                    Remove
                                </button>
                            </div>
                            <button type="submit" name="my_btn" class="btn btn-primary" value="add" style="margin-left:15px">Add Container
                            </button >
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!--table-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Container's Table
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="dataTables_length" id="zero_config_length"><label>Show <select
                                                name="zero_config_length" aria-controls="zero_config"
                                                class="form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entries</label></div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="zero_config_filter" class="dataTables_filter"><label>Search:<input
                                                type="search"
                                                class="form-control form-control-sm"
                                                placeholder=""
                                                aria-controls="zero_config"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="zero_config"
                                               class="table table-dark table-hoverd table-striped table-bordered dataTable"
                                               role="grid"
                                               aria-describedby="zero_config_info">

                                            <thead>

                                            <tr role="row">

                                                <th>
                                                    <label class="customcheckbox">
                                                        <input type="checkbox" class="js-selectall form-check-input"
                                                               id="exampleCheck"
                                                               data-target=".js-selectall">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </th>

                                                <th class="sorting_asc" tabindex="0" aria-controls="zero_config"
                                                    rowspan="1"
                                                    colspan="1"
                                                    aria-sort="ascending"
                                                    aria-label="Name: activate to sort column descending"
                                                    style="width: 130px;">Name
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Position: activate to sort column ascending"
                                                    style="width: 214px;">
                                                    Status
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Office: activate to sort column ascending"
                                                    style="width: 98px;">
                                                    Quick Actions
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Start date: activate to sort column ascending"
                                                    style="width: 80px;">
                                                    Image
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Salary: activate to sort column ascending"
                                                    style="width: 77px;">
                                                    Created
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Start date: activate to sort column ascending"
                                                    style="width: 80px;">
                                                    IP Address
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="zero_config" rowspan="1"
                                                    colspan="1"
                                                    aria-label="Salary: activate to sort column ascending"
                                                    style="width: 77px;">
                                                    Published Ports
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for container in containers.listAllContainers() %}
                                            {% set dict = container.attrs %}
                                            <tr role="row" class="odd">
                                                <td scope="row">
                                                    <label class="customcheckbox">
                                                        <input type="checkbox" name="container"
                                                               class="form-check-input js-selectall"
                                                               id="{{container.short_id}}"
                                                               value="{{container.short_id}}">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </td>
                                                <td>
                                                    <a href="/container/{{container.short_id}}">{{container.attrs.get('Name')}}</a>
                                                </td>
                                                <td>{{ dict['State']['Status'] }}</td>
                                                <td>@mdo</td>
                                                <td>{{dict['Config']['Image']}}</td>
                                                <td>{{container.attrs.get('Created').rsplit('.', 1)[0]}}</td>
                                                <td>{{dict['NetworkSettings']['Networks']['bridge']['IPAddress']}}</td>
                                                <td>Otto</td>
                                            </tr>
                                            </tbody>

                                            {% block scripts %}
                                            {{ super() }}
                                            <script type="text/javascript">

                                 $('.js-selectall').on('change', function() {
                                  var isChecked = $(this).prop("checked");
                                  var selector = $(this).data('target');
                                  $(selector).prop("checked", isChecked);
                                   if (isChecked == true){
                                    $('#start').prop('disabled', false);
                                    $('#resume').prop('disabled', true);
                                    $('#stop').prop('disabled', false);
                                    $('#restart').prop('disabled', false);
                                    $('#kill').prop('disabled', false);
                                    $('#pause').prop('disabled', false);
                                    $('#remove').prop('disabled', false);
                                   }else{
                                        $('#start').prop('disabled', true);
                                        $('#resume').prop('disabled', true);
                                        $('#stop').prop('disabled', true);
                                        $('#restart').prop('disabled', true);
                                        $('#kill').prop('disabled', true);
                                        $('#pause').prop('disabled', true);
                                        $('#remove').prop('disabled', true);
                                   }
                                });

                                $(document).ready(function(){

                                    $('input[type="checkbox"]').click(function(){

                                    var id = $(this).closest("tr").find('td:eq(1)').text();

                                    if($(this).prop("checked") == true && id === 'running'){

                                        $('#start').prop('disabled', true);
                                        $('#resume').prop('disabled', true);
                                        $('#stop').prop('disabled', false);
                                        $('#restart').prop('disabled', false);
                                        $('#kill').prop('disabled', false);
                                        $('#pause').prop('disabled', false);
                                        $('#remove').prop('disabled', false);
                                    }
                                    else if($(this).prop("checked") == true && (id === 'exited' || id === 'created')){
                                        $('#stop').prop('disabled', true);
                                        $('#pause').prop('disabled', true);
                                        $('#resume').prop('disabled', true);

                                        $('#start').prop('disabled', false);
                                        $('#restart').prop('disabled', false);
                                        $('#kill').prop('disabled', false);
                                        $('#remove').prop('disabled', false);

                                     }
                                     else if($(this).prop("checked") == true && id === 'paused' ){
                                        $('#stop').prop('disabled', true);
                                        $('#pause').prop('disabled', true);
                                        $('#start').prop('disabled', true);

                                        $('#resume').prop('disabled', false);
                                        $('#restart').prop('disabled', false);
                                        $('#kill').prop('disabled', false);
                                        $('#remove').prop('disabled', false);
                                    }
                                    else{
                                        $('#start').prop('disabled', true);
                                        $('#resume').prop('disabled', true);
                                        $('#stop').prop('disabled', true);
                                        $('#restart').prop('disabled', true);
                                        $('#kill').prop('disabled', true);
                                        $('#pause').prop('disabled', true);
                                        $('#remove').prop('disabled', true);
                                    }

                                });
                               });









                                            </script>

                                            {% endblock %}


                                            {% endfor %}

                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info" id="zero_config_info" role="status"
                                             aria-live="polite">
                                            Showing 11
                                            to 20 of 57 entries
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-7">
                                        <div class="dataTables_paginate paging_simple_numbers"
                                             id="zero_config_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous"
                                                    id="zero_config_previous"><a
                                                        href="#"
                                                        aria-controls="zero_config"
                                                        data-dt-idx="0"
                                                        tabindex="0"
                                                        class="page-link">Previous</a>
                                                </li>
                                                <li class="paginate_button page-item "><a href="#"
                                                                                          aria-controls="zero_config"
                                                                                          data-dt-idx="1" tabindex="0"
                                                                                          class="page-link">1</a></li>
                                                <li class="paginate_button page-item active"><a href="#"
                                                                                                aria-controls="zero_config"
                                                                                                data-dt-idx="2"
                                                                                                tabindex="0"
                                                                                                class="page-link">2</a>
                                                </li>
                                                <li class="paginate_button page-item "><a href="#"
                                                                                          aria-controls="zero_config"
                                                                                          data-dt-idx="3" tabindex="0"
                                                                                          class="page-link">3</a></li>
                                                <li class="paginate_button page-item "><a href="#"
                                                                                          aria-controls="zero_config"
                                                                                          data-dt-idx="4" tabindex="0"
                                                                                          class="page-link">4</a></li>
                                                <li class="paginate_button page-item "><a href="#"
                                                                                          aria-controls="zero_config"
                                                                                          data-dt-idx="5" tabindex="0"
                                                                                          class="page-link">5</a></li>
                                                <li class="paginate_button page-item "><a href="#"
                                                                                          aria-controls="zero_config"
                                                                                          data-dt-idx="6" tabindex="0"
                                                                                          class="page-link">6</a></li>
                                                <li class="paginate_button page-item next" id="zero_config_next"><a
                                                        href="#"
                                                        aria-controls="zero_config"
                                                        data-dt-idx="7"
                                                        tabindex="0"
                                                        class="page-link">Next</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>


</div>
{% endblock %}