{% extends 'layout.html' %}
{% block title %}Container - {% endblock %}

{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            CPU Percentage
                        </div>
                        <div class="card-body">
                            <div id="chartCPU" style="height: 150px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Memory Usage
                        </div>
                        <div class="card-body">
                            <div id="chartMemory" style="height: 150px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Disk Usage
                        </div>
                        <div class="card-body">
                            <div id="chartDisk" style="height: 150px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-header">
                            Network Usage
                        </div>
                        <div class="card-body">
                            <div id="chartNetwork" style="height: 150px; width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="input-group" id="adv-search">-->
<!--<input type="text" class="form-control" placeholder="Search for snippets">-->
<!--<div class="input-group-btn">-->
<!--<div class="btn-group" role="group">-->
<!--<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"-->
<!--&gt;</span> Search-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="row">
    <div class="col-lg-12">
        <form>
            <div class="card">
                <div class="card-header">
                    <span class="glyphicon glyphicon-search"></span> Actions
                </div>
                <div class="card-body">
                    <div class="col-md-12 field is-grouped ">
                        <div class="control btn-group">
                            <button type="submit" name="my_btn" id="start" class="btn btn-success" value="start"
                                    disabled>
                                Start
                            </button>
                            <button type="submit" name="my_btn" id="stop" class="btn btn-danger" value="stop"
                                    disabled>
                                Stop
                            </button>
                            <button type="submit" name="my_btn" id="kill" class="btn btn-danger" value="kill"
                                    disabled>
                                Kill
                            </button>
                            <button type="submit" name="my_btn" id="restart" class="btn btn-primary" value="restart"
                                    disabled>
                                Restart
                            </button>
                            <button type="submit" name="my_btn" id="pause" class="btn btn-primary" value="pause"
                                    disabled>
                                Pause
                            </button>
                            <button type="submit" name="my_btn" id="resume" class="btn btn-primary" value="resume"
                                    disabled>
                                Resume
                            </button>

                        </div>
                        <button type="submit" name="my_btn" id="remove" class="btn btn-danger" value="remove"
                                disabled>
                            Remove
                        </button>
                        <button type="submit" name="my_btn" id="duplicate" class="btn btn-primary" value="duplicate"
                                disabled>
                            Duplicate
                        </button>
                        <button type="submit" name="my_btn" class="btn btn-primary" value="add">Recreate</button>
                    </div>
                </div>
            </div>
        </form>

        {% block scripts %}
        {{ super() }}
        <script>

                        window.onload = function () {
                            get_cpu();
                            get_memory();
                            get_disk();
                            get_network();
                        }

            function get_cpu(){

                var dps = []; // dataPoints
                var chart = new CanvasJS.Chart("chartCPU", {
                    lineColor: "#C0504E",
                    axisY: {
                        includeZero: false
                    },
                    data: [{
                        type: "area",
                        dataPoints: dps
                    }]
                });

                var xVal = 0;
                var yVal = 100;
                var updateInterval = 1000;
                var dataLength = 20; // number of dataPoints visible at any point

                var updateChart = function (count) {

                    count = count || 1;

                    for (var j = 0; j < count; j++) {
                        yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
                        dps.push({
                            x: xVal,
                            y: yVal
                        });
                        xVal++;
                    }

                    if (dps.length > dataLength) {
                        dps.shift();
                    }

                    chart.render();
                };

                updateChart(dataLength);
                setInterval(function(){updateChart()}, updateInterval);

            }

                function get_disk(){

                    var dps = []; // dataPoints
                    var chart = new CanvasJS.Chart("chartDisk", {

                        axisY: {
                            includeZero: false
                        },
                        data: [{
                            type: "area",
                            dataPoints: dps
                        }]
                    });

                    var xVal = 0;
                    var yVal = 100;
                    var updateInterval = 1000;
                    var dataLength = 20; // number of dataPoints visible at any point

                    var updateChart = function (count) {

                        count = count || 1;

                        for (var j = 0; j < count; j++) {
                            yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
                            dps.push({
                                x: xVal,
                                y: yVal
                            });
                            xVal++;
                        }

                        if (dps.length > dataLength) {
                            dps.shift();
                        }

                        chart.render();
                    };

                    updateChart(dataLength);
                    setInterval(function(){updateChart()}, updateInterval);

                }

                function get_network(){

                    var dps = []; // dataPoints
                    var chart = new CanvasJS.Chart("chartNetwork", {

                        axisY: {
                            includeZero: false
                        },
                        data: [{
                            type: "area",
                            dataPoints: dps
                        }]
                    });

                    var xVal = 0;
                    var yVal = 100;
                    var updateInterval = 1000;
                    var dataLength = 20; // number of dataPoints visible at any point

                    var updateChart = function (count) {

                        count = count || 1;

                        for (var j = 0; j < count; j++) {
                            yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
                            dps.push({
                                x: xVal,
                                y: yVal
                            });
                            xVal++;
                        }

                        if (dps.length > dataLength) {
                            dps.shift();
                        }

                        chart.render();
                    };

                    updateChart(dataLength);
                    setInterval(function(){updateChart()}, updateInterval);

            }

            function get_memory(){

                var dps = []; // dataPoints
                var chart = new CanvasJS.Chart("chartMemory", {

                    axisY: {
                        includeZero: false
                    },
                    data: [{
                        type: "area",
                        dataPoints: dps
                    }]
                });

                var xVal = 0;
                var yVal = 100;
                var updateInterval = 1000;
                var dataLength = 20; // number of dataPoints visible at any point

                var updateChart = function (count) {

                    count = count || 1;

                    for (var j = 0; j < count; j++) {
                        yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
                        dps.push({
                            x: xVal,
                            y: yVal
                        });
                        xVal++;
                    }

                    if (dps.length > dataLength) {
                        dps.shift();
                    }

                    chart.render();
                };

                updateChart(dataLength);
                setInterval(function(){updateChart()}, updateInterval);

            }



        </script>
        {% endblock %}


    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Container Status
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <table class="table table-responsive table-bordered table-hover table-striped">
                        <tbody>
                        <tr role="row" class="odd">
                            <td scope="row"><b>ID</b></td>
                            <td>{{container_status['ID']}}</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td><b>Name</b></td>
                            <!---->
                            <td>
                                {{container_status['Container_name']}}
                            </td><!---->
                            <!---->
                        </tr>
                        <!---->
                        <tr role="row" class="odd">
                            <td><b>IP address</b></td>
                            <td>{{container_status['IPAddress']}}</td>
                        </tr><!---->
                        <tr role="row" class="odd">
                            <td><b>Status</b></td>
                            <td>
                                {{container_status['Status']}}
                            </td>
                        </tr>
                        <tr role="row" class="odd">
                            <td scope="row"><b>Created</b></td>
                            <td>{{container_status['Created']}}</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td scope="row"><b>Start Time</b></td>
                            <td>{{container_status['Start_time']}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Container detail....from inspect-->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Container Details
            </div>
            <div class="card-body">

                <div class="col-md-12">
                    <table class="table table-responsive table-bordered table-hover table-striped">
                        <thead></thead>
                        <tbody>
                        <tr role="row" class="odd">
                            <td scope="row"><b>Image</b></td>
                            <td>{{container_status['Image_name']}}</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td><b>CMD</b></td>
                            <!---->
                            <td>
                                {{container_status['Cmd']}}
                            </td><!---->
                            <!---->
                        </tr>
                        <!---->
                        <tr role="row">
                            <td><b>ENV</b></td>
                            <td>
                                <table class
                                               ="table table-responsive">
                                    <thead></thead>
                                    <tbody>
                                    {% for i in container_status['Env'] %}
                                    <tr role="row" class="odd">
                                        <td scope="row">{{i.rsplit('=', 1)[0]}}</td>
                                        <td>
                                            {{i.rsplit('=', 1)[1]}}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr><!---->

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
<!--Creating Image-->

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="card">
                <div class="card-header">
                    <b>Create Image</b>
                </div>
                <div class="card-body">
                    <div class="row col-sm-12">
                                            <span class="medium text-muted">
                                              You can create an image from this container, this allows you to backup important data or save
                                              helpful configurations. You'll be able to spin up another container based on this image afterward.
                                            </span>
                    </div>

                    <div class="col-md-12">
                        <div class="row col-md-12" align="left">
                            <div class="col-md-6" role="combobox">
                                <label class="control-label" align="left"><b>Image</b></label>
                                <input id="image_name" class="form-control " placeholder="e.g. myimage:tag">

                            </div>
                            <div class="col-md-6" role="combobox">
                                <div class="form-group">
                                    <label for="image_registry"
                                           class="control-label ">
                                        <b>Registry</b>
                                    </label>
                                    <select id="image_registry" class="form-control ">
                                        <option label="DockerHub"
                                                selected="selected">
                                            DockerHub
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12">
                                                        <span class="medium text-muted">Note: if you don't specify the tag in the image name, <span
                                                                class="label label-default">latest</span> will be used.</span>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary btn-md"
                                    disabled="disabled">Create
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>

<!--Volume details-->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Volumes
            </div>
            <div class="card-body">

                <table class="table table-responsive table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th><b>Host/volume</b></th>
                        <th><b>Path in container</b></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!---->
                    <tr role="row">
                        <!---->
                        <!---->
                        <td><a
                                href="/volumes/{{container_status['Vol_name']}}">{{container_status['Vol_name']}}</a>
                        </td><!---->
                        <td>{{container_status['Vol_destination']}}</td>
                    </tr><!---->
                    <tr role="row">
                        <!---->
                        <td>{{container_status['Vol_host']}}</td><!---->
                        <!---->
                        <td>{{container_status['Vol_container']}}</td>
                    </tr><!---->
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Container Log
            </div>
            <div class="card-body">

                {{ container_log }}

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                Container Inspect
            </div>
            <div class="card-body">

                {{ container_inspect }}

            </div>
        </div>
    </div>

</div>

</div>

{% endblock %}