{% extends 'layout.html' %}

{% block title %}System - {% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span class="fa fa-code"></span> Host details
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped"
                               style="width:100%">
                            <tbody>
                            <tr role="row" class="odd">
                                <td scope="row"><b>Name</b></td>
                                <td>{{system_info['Name']}}</td>
                            <tr role="row" class="odd">
                                <td scope="row"><b>OsType</b></td>
                                <td>{{system_info['OSType']}}</td>
                            <tr role="row" class="odd">
                                <td scope="row"><b>ID</b></td>
                                <td>{{system_info['ID']}}</td>
                            </tr><tr role="row" class="odd">
                                <td scope="row"><b>CPUs</b></td>
                                <td>{{system_info['NCPU']}}</td>
                            </tr>
                            <tr role="row" class="odd">
                                <td><b>Memory</b></td>
                                <!---->
                                <td>
                                    {{system_info['Memory']}} GiB
                                </td><!---->
                                <!---->
                            </tr>
                            <!---->
                            <tr role="row" class="odd">
                                <td><b>Kernal Version</b></td>
                                <td>{{system_info['KernelVersion']}}</td>
                            </tr><!----><tr role="row" class="odd">
                                <td><b>Server Version</b></td>
                                <td>{{system_info['ServerVersion']}}</td>
                            </tr><!---->
                            <tr role="row" class="odd">
                                <td><b>Driver</b></td>
                                <td>{{system_info['Driver']}}</td>
                            </tr><!----><!---->
                            <tr role="row" class="odd">
                                <td><b>Http Proxy</b></td>
                                <td>{{system_info['HttpProxy']}}</td>
                            </tr><!---->
                            <tr role="row" class="odd">
                                <td><b>Index Server Address</b></td>
                                <td>{{system_info['IndexServerAddress']}}</td>
                            </tr><!---->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <span class="fa fa-code"></span> Engine details
                </div>
                <div class="card-body">
                    <div class="col-md-12">
                        <table class="table table-hover table-striped"
                               style="width:100%">
                            <tbody>
                            <tr role="row" class="odd">
                                <td scope="row"><b>Version</b></td>
                                <td>{{system_info['ServerVersion']}}</td>
                            <tr role="row" class="odd">
                                <td scope="row"><b>Volume Plugins</b></td>
                                <td> {{system_info['Network']}}</td>
                            <tr role="row" class="odd">
                                <td scope="row"><b>Network Plugins</b></td>
                                <td>{{system_info['VolumePlugins']}}</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}