<div id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><h3>Contents</h3></div>
        <br>
        <div class="list-group">
            <a href="/container/" class="list-group-item list-group-item-action bg-light">Containers</a>
            <a href="/images" class="list-group-item list-group-item-action bg-light">Images</a>
            <a href="/volumes" class="list-group-item list-group-item-action bg-light">Volumes</a>
            <a href="/networks" class="list-group-item list-group-item-action bg-light">Networks</a>
            <a href="/swarm" class="list-group-item list-group-item-action bg-light">Swarm</a>
            <a href="/system" class="list-group-item list-group-item-action bg-light">System</a>
        </div>
    </div>

</div>
