<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30 in">
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link active"
                                                     href="/" aria-expanded="false"><i
                        class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/container/"
                                            aria-expanded="false"><i class="fas fa-server"></i><span
                        class="hide-menu">Containers</span></a></li>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="/images/" aria-expanded="false"><i
                        class="fas fa-clone"></i><span class="hide-menu">Images</span></a></li>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/networks/"
                                            aria-expanded="false"><i class="fa fa-sitemap"></i><span
                        class="hide-menu">Networks</span></a></li>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link" href="/volumes/"
                                            aria-expanded="false"><i class="fa fa-cubes"></i><span
                        class="hide-menu">Volumes</span></a></li>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark"
                                            href="/systems/" aria-expanded="false"><i
                        class="mdi mdi-move-resize-variant"></i><span class="hide-menu">System </span></a>
                </li>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark"
                                           href="/services"  aria-expanded="false"><i
                        class="fa fa-list-alt"></i><span class="hide-menu">Services </span></a>
                </li>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                             aria-expanded="false" href="/configurations/"><i
                        class="menu-icon fa fa-file-code fa-fw"></i><span class="hide-menu">Configurations</span></a></li>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark"
                                             aria-expanded="false" href="/secrets/"><i class="menu-icon fa fa-user-secret fa-fw"></i><span
                        class="hide-menu">Secrets </span></a>
                </li>
                <li class="sidebar-item"><a class="sidebar-link waves-effect waves-dark sidebar-link"
                                            href="/swarms/" aria-expanded="false"><i
                        class="menu-icon fa fa-object-group fa-fw"></i><span class="hide-menu">Swarm</span></a></li>
                <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                                            href="javascript:void(0)" aria-expanded="false"><i
                        class="mdi mdi-account-key"></i><span class="hide-menu">Authentication </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/login" class="sidebar-link"><i
                                class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Login </span></a></li>
                        <li class="sidebar-item"><a href="/register" class="sidebar-link"><i
                                class="mdi mdi-all-inclusive"></i><span class="hide-menu"> Register </span></a></li>
                    </ul>
                </li>
                <!--<li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"-->
                                            <!--href="javascript:void(0)" aria-expanded="false"><i-->
                        <!--class="mdi mdi-alert"></i><span class="hide-menu">Errors </span></a>-->
                    <!--<ul aria-expanded="false" class="collapse  first-level">-->
                        <!--<li class="sidebar-item"><a href="error-403.html" class="sidebar-link"><i-->
                                <!--class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 403 </span></a></li>-->
                        <!--<li class="sidebar-item"><a href="error-404.html" class="sidebar-link"><i-->
                                <!--class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 404 </span></a></li>-->
                        <!--<li class="sidebar-item"><a href="error-405.html" class="sidebar-link"><i-->
                                <!--class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 405 </span></a></li>-->
                        <!--<li class="sidebar-item"><a href="error-500.html" class="sidebar-link"><i-->
                                <!--class="mdi mdi-alert-octagon"></i><span class="hide-menu"> Error 500 </span></a></li>-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
