{% extends 'layout.html' %}

{% block title %}Container - {% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="fa fa-chart-area"></span> CPU Percentage
                    </div>
                    <div class="card-body">
                        <div id="chartCPU" style="height: 200px; width: 90%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="fa fa-chart-area"></span> Memory Usage
                    </div>
                    <div class="card-body">
                        <div id="chartMemory" style="height: 200px; width: 90%;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="fa fa-chart-area"></span> Disk Usage
                    </div>
                    <div class="card-body">
                        <div id="chartDisk" style="height: 200px; width: 90%;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <span class="fa fa-chart-area"></span> Network Usage
                    </div>
                    <div class="card-body">
                        <div id="chartNetwork" style="height: 200px; width: 90%;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <a href="/container/">
                        <div class="card-body">
                            <span class="fas fa-server fa-lg"
                                  style="margin-right:10px; margin-top:20px; margin-bottom:20px;"
                                  width="20%" height="100%">  Containers</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <a href="/images/">
                        <div class="card-body">
                            <span class="fas fa-clone fa-lg"
                                  style="margin-left:20px; margin-top:20px; margin-bottom:20px;"
                                  width="20%" height="100%"> Images</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-12">

        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <a href="/volumes/">
                        <div class="card-body">
                        <span class="fas fa-server fa-lg"
                              style="margin-right:20px; margin-top:20px; margin-bottom:20px;" width="20%"
                              height="100%"> Volumes</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <a href="/networks/">
                        <div class="card-body">
                        <span class="fas fa-server fa-lg"
                              style="margin-right:20px; margin-top:20px; margin-bottom:20px;" width="20%"
                              height="100%"> Networks</span>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <a href="/system/">
                        <div class="card-body">
                        <span class="fas fa-server fa-lg"
                              style="margin-right:20px; margin-top:20px; margin-bottom:20px;" width="20%"
                              height="100%"> System</span>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <a href="/services/">
                        <div class="card-body">
                        <span class="fas fa-server fa-lg"
                              style="margin-right:20px; margin-top:20px; margin-bottom:20px;" width="20%"
                              height="100%"> Services </span>
                        </div>
                    </a>
                </div>
            </div>


        </div>


    </div>

</div>


{% block scripts %}
    {{super}}
    <script>

            window.onload = function () {
                get_cpu();
                get_memory();
                get_disk();
                get_network();
            }

            function get_cpu(){

                var dps = []; // dataPoints
                var chart = new CanvasJS.Chart("chartCPU", {
                    lineColor: "#C0504E",
                    axisY: {
                        includeZero: false
                    },
                    data: [{
                        type: "area",
                        dataPoints: dps
                    }]
                });

                var xVal = 0;
                var yVal = 100;
                var updateInterval = 1000;
                var dataLength = 20; // number of dataPoints visible at any point

                var updateChart = function (count) {

                    count = count || 1;

                    for (var j = 0; j < count; j++) {
                        yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
                        dps.push({
                            x: xVal,
                            y: yVal
                        });
                        xVal++;
                    }

                    if (dps.length > dataLength) {
                        dps.shift();
                    }

                    chart.render();
                };

                updateChart(dataLength);
                setInterval(function(){updateChart()}, updateInterval);

            }

            function get_disk(){

                var dps = []; // dataPoints
                var chart = new CanvasJS.Chart("chartDisk", {

                    axisY: {
                        includeZero: false
                    },
                    data: [{
                        type: "area",
                        dataPoints: dps
                    }]
                });

                var xVal = 0;
                var yVal = 100;
                var updateInterval = 1000;
                var dataLength = 20; // number of dataPoints visible at any point

                var updateChart = function (count) {

                    count = count || 1;

                    for (var j = 0; j < count; j++) {
                        yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
                        dps.push({
                            x: xVal,
                            y: yVal
                        });
                        xVal++;
                    }

                    if (dps.length > dataLength) {
                        dps.shift();
                    }

                    chart.render();
                };

                updateChart(dataLength);
                setInterval(function(){updateChart()}, updateInterval);

            }

            function get_network(){

                var dps = []; // dataPoints
                var chart = new CanvasJS.Chart("chartNetwork", {

                    axisY: {
                        includeZero: false
                    },
                    data: [{
                        type: "area",
                        dataPoints: dps
                    }]
                });

                var xVal = 0;
                var yVal = 100;
                var updateInterval = 1000;
                var dataLength = 20; // number of dataPoints visible at any point

                var updateChart = function (count) {

                    count = count || 1;

                    for (var j = 0; j < count; j++) {
                        yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
                        dps.push({
                            x: xVal,
                            y: yVal
                        });
                        xVal++;
                    }

                    if (dps.length > dataLength) {
                        dps.shift();
                    }

                    chart.render();
                };

                updateChart(dataLength);
                setInterval(function(){updateChart()}, updateInterval);

            }

            function get_memory(){

                var dps = []; // dataPoints
                var chart = new CanvasJS.Chart("chartMemory", {

                    axisY: {
                        includeZero: false
                    },
                    data: [{
                        type: "area",
                        dataPoints: dps
                    }]
                });

                var xVal = 0;
                var yVal = 100;
                var updateInterval = 1000;
                var dataLength = 20; // number of dataPoints visible at any point

                var updateChart = function (count) {

                    count = count || 1;

                    for (var j = 0; j < count; j++) {
                        yVal = yVal +  Math.round(5 + Math.random() *(-5-5));
                        dps.push({
                            x: xVal,
                            y: yVal
                        });
                        xVal++;
                    }

                    if (dps.length > dataLength) {
                        dps.shift();
                    }

                    chart.render();
                };

                    updateChart(dataLength);
                    setInterval(function(){updateChart()}, updateInterval);

            }








    </script>
    {% endblock %}

{% endblock %}
