{% extends 'layout.html' %}

{% block title %}Container - {% endblock %}

{% block body %}
<div class="container-fluid">


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>Resource Consumption</b>
                </div>
                <div class="card-body">
                    <div class="row col-md-12">
                        <div class="col-md-3" align="left">
                            <embed type="image/svg+xml" src="{{graph_data1|safe}}"
                                   style="max-width:300px; max-height:230px"/>
                        </div>
                        <div class="col-md-3" align="right">
                            <embed type="image/svg+xml" src="{{graph_data2|safe}}"
                                   style="max-width:300px; max-height:230px"/>
                        </div>
                        <div class="col-md-3" align="left">
                            <embed type="image/svg+xml" src="{{graph_data3|safe}}"
                                   style="max-width:300px; max-height:230px"/>
                        </div>
                        <div class="col-md-3" align="right">
                            <embed type="image/svg+xml" src="{{graph_data4|safe}}"
                                   style="max-width:300px; max-height:230px"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 row ">

        <div class="col-md-6">
            <div class="card">
                <a href="/container/">
                    <div class="card-body">
                        <div class="col-md-12">
                            <img src="/static/assets/container_image.png" class="img-rounded img-responsive"
                                 width="20%"
                                 height="20%"
                                 alt="Rounded Image" style="margin-right:10px">
                            <span> <b>Containers</b></span>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <a href="/image/">
                    <div class="card-body">
                        <div class="col-md-12">
                            <img src="/static/assets/container_image.png" class="img-rounded img-responsive"
                                 width="20%"
                                 height="20%"
                                 alt="Rounded Image" style="margin-right:10px">
                            <span> <b>Images</b></span>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row col-md-12">

        <div class="col-md-6">
            <div class="card">
                <a href="/container/">
                    <div class="card-body">
                        <div class="col-md-12">
                            <img src="/static/assets/container_image.png" class="img-rounded img-responsive"
                                 width="20%"
                                 height="20%"
                                 alt="Rounded Image" style="margin-right:10px">
                            <span> <b>Networks</b></span>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <a href="/image/">
                    <div class="card-body">
                        <div class="col-md-12">
                            <img src="/static/assets/container_image.png" class="img-rounded img-responsive"
                                 width="20%"
                                 height="20%"
                                 alt="Rounded Image" style="margin-right:10px">
                            <span> <b>Volumes</b></span>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row col-md-12">

        <div class="col-md-6">
            <div class="card">
                <a href="/container/">
                    <div class="card-body">
                        <div class="col-md-12">
                            <img src="/static/assets/container_image.png" class="img-rounded img-responsive"
                                 width="20%"
                                 height="20%"
                                 alt="Rounded Image" style="margin-right:10px">
                            <span> <b>Services</b></span>
                        </div>

                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <a href="/image/">
                    <div class="card-body">
                        <div class="col-md-12">
                            <img src="/static/assets/container_image.png" class="img-rounded img-responsive"
                                 width="20%"
                                 height="20%"
                                 alt="Rounded Image" style="margin-right:10px">
                            <span> <b>System</b></span>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>


</div>
{% endblock %}

