<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            {% endblock %} Monitoring
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" >
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" >
    </head>
    <body class="container-fluid">

        <div class="col-md-12">
            {% include 'includes/_navbar.html' %}
        </div>
        <div class="row">
            <div class="col-md-2">
                <!-- Your first column here -->
                 {% include 'includes/_sidebar.html' %}
            </div>
            <div class="col-md-10">
                <!-- Your second column here -->
                {% block body %}

                {% endblock %}
            </div>
        </div>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script type="text/javascript" href="{{url_for('static', filename='js/bootstrap.min.js')}}" ></script>
        {% block scripts %}


        {% endblock %}
    </body>

</html>