{% extends 'layout.html' %}

{% block title %}Graphs - {% endblock %}

{% block body %}


<div class="container-fluid">


    <div class="row">
        <div class="col-sm-12">
            <h3>Volume mapping</h3>
            <button id="add_volume">add additional volume</button>
            <button id="remove_volume">remove additional volume</button>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div class="col-md-12">
            <div id="textboxesgroup">
                <div id="textboxdiv1">
                    <label>Textbox#1</label><input type="textbox" id="textbox1">
                </div>
            </div>
        </div>
    </div>

</div>

{% block scripts %}
{{super}}
<script>
        $(document).ready(function(){

            var counter = 2;

            $("#add_volume").click(function(){

                if (counter > 10){
                    alert("you reached maximum limit");
                    return false;
                }

                var newtextboxdiv = $(document.createElement('div')).attr("id", 'TextBoxDiv' + counter);

                newtextboxdiv.after().html('<label> Container :</label>'
                    + '<input type="text" name="textbox' + counter + 'placeholder="e.g my container" ' +
                    '"id="textbox' + counter + '"value="" > ' + '    ' +

                    '<label> Volume :</label>'
                    + '<input type="text" name="textbox' + counter +
                    '"id="textbox' + counter + '"value="" > ');

                    newtextboxdiv.appendTo("#textboxesgroup");
                    counter++;

            });

            $("#remove_volume").click(function(){
                if (counter == 1){
                    alert("Nothing to remove");
                    return false;
                }
                counter--;
                $("#TextBoxDiv" + counter).remove();

            });

        });

</script>
{% endblock %}


{% endblock %}
