{% extends 'layout.html' %}

{% block title %}Container - {% endblock %}

{% block body %}


<div class="container">

    <form action="" method="post">
        <div class="well btn-group col-md-12 field is-grouped ">
            <div class="control">
                <button type="button" class="btn btn-success">Start</button>
            </div>
            <div class="control">
              <button type="button" class="btn btn-danger">Stop</button>
            </div>
            <div class="control">
              <button type="button" class="btn btn-danger">Kill</button>
            </div>
            <div class="control">
               <button type="button" class="btn btn-primary">Restart</button>
            </div>
            <div class="control">
                <button type="button" class="btn btn-primary">Pause</button>
            </div>
            <div class="control">
                <button type="button" class="btn btn-primary">Resume</button>
            </div>
            <div class="control">
                <button type="button" class="btn btn-danger">Remove</button>
            </div>
            <div class="control">
                <button type="button" class="btn btn-primary">Add Container</button>
            </div>

        </div>
        # search bar
        <div class="container-fluid well col-md-12">
            <input type="text" name="search" placeholder="Search...">
        </div>

        #table
        <div class="table-responsive">

            <table class="container table table-hover table-dark">
                <thead>
                <tr>
                    <th scope="col">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck">
                            <label class="form-check-label" for="exampleCheck"></label>
                        </div>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Quick actions</th>
                    <th scope="col">Stack</th>
                    <th scope="col">Image</th>
                    <th scope="col">Created</th>
                    <th scope="col">IP Address</th>
                    <th scope="col">Published Ports</th>
                    <th scope="col">Ownership</th>
                </tr>
                </thead>
                <tbody>
                {% for container in containers.listAllContainers() %}
                {% set dict = container.attrs %}
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <input type="checkbox" name="container" class="form-check-input" id="{{container.short_id}}">
                            <label class="form-check-label" for="{{container.short_id}}"></label>
                        </div>
                    </th>
                    <td>{{container.attrs.get('Name')}}</td>
                    <td>{{ dict['State']['Status'] }}</td>
                    <td>@mdo</td>
                    <td>Mark</td>
                    <td>{{dict['Config']['Image']}}</td>
                    <td>{{container.attrs.get('Created').rsplit('.', 1)[0]}}</td>
                    <td>{{dict['NetworkSettings']['Networks']['bridge']['IPAddress']}}</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </form>


</div>
{% endblock %}