{% extends 'layout.html' %}

{% block title %}Container - {% endblock %}

{% block body %}

<div class="container">

    <canvas id="lineChart"></canvas>

</div>

{% block scripts %}
{{ super() }}
<script>
  //line
  var ctxL = document.getElementById("lineChart").getContext('2d');
  var myLineChart = new Chart(ctxL, {
    type: 'line',
    data: {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [
        {
          label: "My Second dataset",
          data: [90, 48, 40, 19, 86, 27, 90],
          backgroundColor: [
            'rgba(0, 137, 132, .2)',
          ],
          borderColor: [
            'rgba(0, 10, 130, .7)',
          ],
          borderWidth: 2
        }
      ]
    },
    options: {
      responsive: true
    }
  });

</script>
{% endblock %}



{% endblock %}