{% extends 'layout.html' %}

{% block title %} Build new image {% endblock %}
{% block body %}

<div class="container-fluid">

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for i in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dimiss="alert" aria-label="Close">Close</button>
            {{i}}
    </div>
    {%endfor%}
    {% endif %}
    {%endwith%}

    <form action="" method="post" enctype="multipart/form-data">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Build your new image
                </div>
                <div class="card-body">
                    <div class="row col-md-12">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="image_builder" data-toggle="tab"
                                   href="#builder" role="tab"
                                   aria-controls="image_builder" aria-selected="true">Builder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="output-tab" data-toggle="tab" href="#output" role="tab"
                                   aria-controls="output" aria-selected="false">Output</a>
                            </li>
                        </ul>

                        <div class="tab-content col-md-12" id="myTabContent">


                            <div class="tab-pane de show active" id="builder" role="tabpanel"
                                 aria-labelledby="image_builder-tab">
                                <br>
                                <div class="col-md-12">

                                    <label class="control-label" align="left"><b> Naming</b></label>
                                    <br>
                                    <span> You can specify multiple names to your image.</span><br>
                                    <br>
                                    <p>A name must be specified in one of the following formats: name:tag,
                                        repository/name:tag or registryfqdn:port/repository/name:tag format. If you omit
                                        the
                                        tag the deult latest value is assumed.</p>
                                </div>

                                <div class="row col-md-12">
                                    <div class="col-md-2">
                                        <label class="control-label" align="left"> <b> Image Name</b></label>
                                    </div>
                                    <div class="col-md-10">
                                        <input type="text"
                                               class="form-control"
                                               name="image_tag" placeholder="e.g. myimage:mytag"
                                               align="right">
                                    </div>
                                </div>
                                <br>
                                <div class="row col-md-12 ">
                                    Build methods
                                </div>
                                <hr>
                                <div class="row col-md-12">
                                    <ul class="nav nav-tabs nav-pills" id="builder_tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="web_editor" data-toggle="tab"
                                               href="#editor" role="tab"
                                               aria-controls="image_builder" aria-selected="true"><b> Builder </b><br>Use
                                                our Web editor<br></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="upload-tab" data-toggle="tab" href="#upload"
                                               role="tab"
                                               aria-controls="upload" aria-selected="false"> <b> Upload</b>
                                                <p>Upload a tarball or a Dockerfile from your computer</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="url-tab" data-toggle="tab" href="#url"
                                               role="tab"
                                               aria-controls="output" aria-selected="false"> <b> URL </b><br>Specify
                                                an URL to a file</a>
                                        </li>

                                    </ul>

                                    <div class="tab-content col-md-12" id="myTabBuilderContent">
                                        <div class="tab-pane de show active" id="editor" role="tabpanel"
                                             aria-labelledby="image_builder-tab">
                                            <br>
                                            <div class="col-md-12">
                                                <div class="row col-md-12">
                                                    <label class="control-label"> <b> Web editor</b></label>
                                                </div>
                                                <div class="row col-md-12">
                                                    <textarea class="col-md-12" style="margin-bottom:15px;
                                                    border-right-width: 10px; min-height: 28px; min-width: 7px;
                                                    "
                                                              placeholder="Define or paste the content of your docker file here... "
                                                              rows="20"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane de " id="upload" role="tabpanel"
                                             aria-labelledby="image_upload-tab">
                                            <br>
                                            <div class="col-md-12">
                                                <div class="row col-md-12">
                                                    <label class="control-label"> <b> Upload</b></label>
                                                </div>
                                                <br>
                                                <div class="col-md-12">
                                                    You can upload a Dockerfile or a tar archive containing a
                                                    Dockerfile from your computer. When using an tarball, the root
                                                    folder will be used as the build context.

                                                </div>
                                                <br>
                                                <div class="col-md-12">
                                                    <form action="" method="POST"
                                                          enctype="multipart/form-data">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"
                                                                      id="inputGroupFileAddon01">Upload</span>
                                                            </div>
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input"
                                                                       id="inputGroupFile01" name="file"
                                                                       aria-describedby="inputGroupFileAddon01">
                                                                <label class="custom-file-label" for="inputGroupFile01">Choose
                                                                    file</label>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <br><br>
                                        </div>
                                        <div class="tab-pane de" id="url" role="tabpanel"
                                             aria-labelledby="image_url-tab">
                                            <br>
                                            <div class="col-md-12">
                                                <div class="row col-md-12">
                                                    <label class="control-label"> <b> URL</b></label>
                                                </div>
                                                <div class="row col-md-12">
                                                    Specify the URL to a Dockerfile, a tarball or a public Git
                                                    repository (suffixed by .git). When using a tarball or a Git
                                                    repository URL, the root folder will be used as the build context.
                                                </div>
                                                <br>
                                                <div class="row col-md-12">
                                                    <div class="row col-md-12">
                                                        <div class="col-md-2">
                                                            <label class="control-label"><b>URL </b></label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <input type="text" class="form-control"
                                                                   name="network_host"
                                                                   placeholder="https://myhost.mydomain/myimage.tar.gz"
                                                                   align="right">
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <div class="row col-md-12">
                                                        <div class="col-md-2">
                                                            <label class="control-label"><b>Dockerfile Path</b></label>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <input type="text" class="form-control"
                                                                   name="network_host"
                                                                   placeholder="Indicate the path to the Dockerfile within the tarball/repository (ignored when using a Dockerfile)."
                                                                   align="right">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="row col-md-12">
                                    <label class="control-label"> <b> Actions</b></label>
                                </div>

                                <hr>
                                <div class="row col-md-12">
                                    <button type="submit" name="build_image" class="btn btn-primary" value="build">Build the
                                        image
                                    </button>
                                </div>

                            </div>


                            <div class="tab-pane de" id="output" role="tabpanel" aria-labelledby="output">
                                Output of the image goes here....
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    {% block scripts %}
    {{super() }}
    <script>


    </script>

    {% endblock %}
</div>

{% endblock %}