{% extends 'index.html' %}
{% block title %}
Image -
{% endblock %}

{% block body %}


<div class="container-fluid">

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for i in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dimiss="alert" aria-label="Close">Close</button>
            {{i}}
    </div>
    {%endfor%}
    {% endif %}
    {%endwith%}

    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
                <div class="card">
                    <div class="card-header">
                        <span class="fa fa-download"></span> Pull Image
                    </div>
                    <div class="card-body">
                        <div class="row col-md-12">
                            <div class="col-md-6">
                                <label class="control-label" align="left">Image</label>
                                <input type="text"
                                       class="form-control"
                                       name="image_name" placeholder="e.g. myImage:myTag"
                                       required=""
                                       aria-autocomplete="list"
                                >

                                <ul class="dropdown-menu"
                                    role="listbox"
                                    aria-hidden="true" id="typeahead-388-654"
                                    matches="matches" active="activeIdx"
                                    move-in-progress="moveInProgress"
                                    query="query" position="position" debounce="debounceUpdate">
                                    <!---->
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="image_registry"
                                           class="control-label">
                                        Registry
                                    </label>
                                    <div class=''>

                                        <select id="image_registry" class="form-control ">
                                            <option label="DockerHub"
                                                    selected="selected">
                                                DockerHub
                                            </option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="medium text-muted control-label" align="left">Note: if you don't specify
                                    the tag in the image name,
                                    <span
                                            class="label label-default">latest</span> will be used.</label>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary" name="my_btn" id="pull_image"
                                        value="pull_image" align="left">Pull the Image
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form action="" method="post">
                <div class="card">
                    <div class="card-header">
                        <span class="fas fa-clone"></span> Images
                    </div>
                    <div class="card-body">
                        <div class="row  col-md-12 ">
                            <div class="well field is-grouped ">
                                <div class="control">
                                    <button type="submit" name="my_btn" id="remove" class="btn btn-success"
                                            value="remove"
                                            disabled>
                                        <span class="fa fa-trash-alt space-right"></span> Remove
                                    </button>
                                    <a href="/images/build/">
                                        <button type="button" name="my_btn" id="build" class="btn btn-danger"
                                                value="build"
                                        >
                                            <span class="fa fa-plus space-right"></span> Build a new image
                                        </button>
                                    </a>
                                    <button type="button" name="my_btn" id="push" class="btn btn-danger"
                                            value="push" disabled
                                    >
                                        <span class="fa fa-upload space-right"></span> Push an Image
                                    </button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row col-md-12">
                            <div class="table-responsive col-md-12">
                                <div id="zero_config_wrapper"
                                     class="dataTables_wrapper">
                                    <div class="row col-md-12">
                                        <div class="col-sm-12 col-md-6">
                                            <div class="dataTables_length" id="zero_config_length"><label>Show
                                                <select
                                                        name="zero_config_length" aria-controls="zero_config"
                                                        class="form-control form-control-sm">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select> entries</label></div>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <div id="zero_config_filter" class="dataTables_filter">
                                                <label>Search:<input
                                                        type="search"
                                                        class="form-control form-control-sm"
                                                        placeholder=""
                                                        aria-controls="zero_config"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <table id="zero_config"
                                                   class="table table-dark table-hoverd table-striped table-bordered dataTable"
                                                   role="grid"
                                                   aria-describedby="zero_config_info">

                                                <thead>

                                                <tr role="row">

                                                    <th>
                                                        <label class="customcheckbox">
                                                            <input type="checkbox"
                                                                   class="js-selectall form-check-input"
                                                                   id="exampleCheck"
                                                                   data-target=".js-selectall">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </th>

                                                    <th class="sorting_asc" tabindex="0" aria-controls="zero_config"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-sort="ascending"
                                                        aria-label="Name: activate to sort column descending"
                                                        style="width: 130px;">Id
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Position: activate to sort column ascending"
                                                        style="width: 214px;">
                                                        Tags
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Office: activate to sort column ascending"
                                                        style="width: 98px;">
                                                        Size
                                                    </th>
                                                    <th class="sorting" tabindex="0" aria-controls="zero_config"
                                                        rowspan="1"
                                                        colspan="1"
                                                        aria-label="Age: activate to sort column ascending"
                                                        style="width: 38px;">
                                                        Created
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for image in images.listAllImages() %}
                                                <tr role="row" class="odd">
                                                    <td scope="row">
                                                        <label class="customcheckbox">
                                                            <input type="checkbox" name="image"
                                                                   class="form-check-input js-selectall"
                                                                   id="{{image['Id']}}"
                                                                   value="{{image['Id']}}">
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <a href="/images/{{image['Id']}}">{{image['Id']}}</a>
                                                    </td>
                                                    <td>{{ image['RepoTags'][0]}}</td>
                                                    <td>{{image['Size'] / 1024 }}</td>
                                                    <td>{{image['Created']}}</td>
                                                </tr>
                                                </tbody>

                                                {% endfor %}

                                            </table>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-5">
                                            <div class="dataTables_info" id="zero_config_info" role="status"
                                                 aria-live="polite">
                                                Showing 11
                                                to 20 of 57 entries
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-7">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                 id="zero_config_paginate">
                                                <ul class="pagination">
                                                    <li class="paginate_button page-item previous"
                                                        id="zero_config_previous"><a
                                                            href="#"
                                                            aria-controls="zero_config"
                                                            data-dt-idx="0"
                                                            tabindex="0"
                                                            class="page-link">Previous</a>
                                                    </li>
                                                    <li class="paginate_button page-item "><a href="#"
                                                                                              aria-controls="zero_config"
                                                                                              data-dt-idx="1"
                                                                                              tabindex="0"
                                                                                              class="page-link">1</a>
                                                    </li>
                                                    <li class="paginate_button page-item active"><a href="#"
                                                                                                    aria-controls="zero_config"
                                                                                                    data-dt-idx="2"
                                                                                                    tabindex="0"
                                                                                                    class="page-link">2</a>
                                                    </li>
                                                    <li class="paginate_button page-item "><a href="#"
                                                                                              aria-controls="zero_config"
                                                                                              data-dt-idx="3"
                                                                                              tabindex="0"
                                                                                              class="page-link">3</a>
                                                    </li>
                                                    <li class="paginate_button page-item "><a href="#"
                                                                                              aria-controls="zero_config"
                                                                                              data-dt-idx="4"
                                                                                              tabindex="0"
                                                                                              class="page-link">4</a>
                                                    </li>
                                                    <li class="paginate_button page-item "><a href="#"
                                                                                              aria-controls="zero_config"
                                                                                              data-dt-idx="5"
                                                                                              tabindex="0"
                                                                                              class="page-link">5</a>
                                                    </li>
                                                    <li class="paginate_button page-item "><a href="#"
                                                                                              aria-controls="zero_config"
                                                                                              data-dt-idx="6"
                                                                                              tabindex="0"
                                                                                              class="page-link">6</a>
                                                    </li>
                                                    <li class="paginate_button page-item next"
                                                        id="zero_config_next"><a
                                                            href="#"
                                                            aria-controls="zero_config"
                                                            data-dt-idx="7"
                                                            tabindex="0"
                                                            class="page-link">Next</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </div>

    </div>

    {% block scripts %}
    {{ super() }}
    <script type="text/javascript">

                                 $('.js-selectall').on('change', function() {
                                  var isChecked = $(this).prop("checked");
                                  var selector = $(this).data('target');
                                  $(selector).prop("checked", isChecked);
                                   if (isChecked == true){
                                    $('#remove').prop('disabled', false);
                                    $('#build').prop('disabled', false);
                                    $('#push').prop('disabled', false);

                                   }else{

                                        $('#build').prop('disabled', true);
                                        $('#push').prop('disabled', true);
                                        $('#remove').prop('disabled', false);
                                   }
                                });

                                $(document).ready(function(){

                                    $('input[type="checkbox"]').click(function(){

                                    var id = $(this).closest("tr").find('td:eq(1)').text();

                                    if($(this).prop("checked") == true){

                                        $('#remove').prop('disabled', false);
                                        $('#build').prop('disabled', false);
                                        $('#push').prop('disabled', false);

                                    }

                                    else{
                                        $('#remove').prop('disabled', true);
                                        $('#build').prop('disabled', false);
                                        $('#push').prop('disabled', false);

                                    }

                                });
                               });


    </script>
    {% endblock %}

</div>


{% endblock %}