{% extends 'layout.html' %}

{% block title %}Container - {% endblock %}

{% block body %}

<div class="container-fluid">

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    {% for i in messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dimiss="alert" aria-label="Close">Close</button>
            {{i}}
    </div>
    {%endfor%}
    {% endif %}
    {%endwith%}


    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Image Details
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr role="row" class="odd">
                            <td scope="row"><b>ID</b></td>
                            <td>{{image_details['ID']}}</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td><b>Size</b></td>
                            <!---->
                            <td>
                                {{image_details['Size']}}
                            </td><!---->
                            <!---->
                        </tr>
                        <!---->
                        <tr role="row" class="odd">
                            <td><b>Created</b></td>
                            <td>{{image_details['Created']}}</td>
                        </tr><!---->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Dockerfile Details
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        <tr role="row" class="odd">
                            <td scope="row"><b>CMD</b></td>
                            <td>{{image_details['Cmd']}}</td>
                        </tr>
                        <tr role="row" class="odd">
                            <td><b>ENTRY POINT</b></td>
                            <!---->
                            <td>
                                {{image_details['Entry_point']}}
                            </td><!---->
                            <!---->
                        </tr>
                        <!---->
                        <tr role="row" class="odd">
                            <td><b>EXPOSE</b></td>
                            <td>{{image_details['Expose_ports']}}</td>
                        </tr><!---->
                        <tr role="row" class="odd">
                            <td><b>VOLUME</b></td>
                            <td>{{image_details['Vol_name']}}</td>
                        </tr><!---->
                        <tr role="row" class="odd">
                            <td><b>ENV</b></td>
                            <td>
                                <table class="table">
                                    <thead></thead>
                                    <tbody>

                                    {% if image_details['Env'] != None %}
                                    {% for i in image_details['Env'] %}
                                        <tr role="row" class="odd">
                                            <td scope="row">{{i.rsplit('=', 1)[0]}}</td>
                                            <td>
                                                {{i.rsplit('=', 1)[1]}}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}

                                    </tbody>
                                </table>
                            </td>
                        </tr><!---->

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


</div>

{% endblock %}